@using System.Reflection
@using Synthesys.SDK.Attributes
@using Synthesys.Tasks
@code
{
    [Parameter]
    public string ExtensionIdentifier { get; set; }

    public ExtensionAttribute ExtensionModel => ExtensionToolbox.Instance.GetExtensionMetadata(ExtensionIdentifier);
}

@{
    var action = ExtensionToolbox.Instance.ResolveExtensionFromId(ExtensionIdentifier);
    var triggers = new List<TriggeredByAttribute>();
    if (action != null)
    {
        triggers = action.GetType().GetCustomAttributes<TriggeredByAttribute>().ToList();
    }
}

<div class="card m-3 col-6">
    <div class="card-body">
        <h4 class="card-title">@ExtensionModel.Name (@ExtensionModel.VersionObj.ToString(2))</h4>
        <h6 class="text-muted card-subtitle mb-2">@ExtensionModel.Author</h6><span class="text-monospace border rounded-0 border-info shadow-sm" style="padding: 0.3em;">@ExtensionIdentifier</span>
        <p class="card-text" style="margin-top: 0.5em;">@ExtensionModel.Description</p>
        @if (string.IsNullOrEmpty(ExtensionModel.Website))
        {
            <a class="card-link" href="@ExtensionModel.Website">More Information  <i class="fa fa-external-link"></i></a>
        }
        @if (triggers.Any())
        {
            <div style="border-top: 1px solid #ccc; padding-top: 0.3em">
                <h5>Triggers</h5>
                <p style="font-family: Aldrich, sans-serif;">@string.Join("<br />", triggers.Select(t => t.Trigger))</p>
            </div>
        }
    </div>
</div>