<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">@HostArtifact.Hostname (@HostArtifact.IpAddress)</h3><i class="fas fa-2x fa-server"></i>
</div>
<div class="row">
    <div class="col-md-6 col-xl-7 mb-4">
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Server Aliases</span></div>
                        <div class="text-dark mb-0 text-monospace small"><span>@string.Join(", ", HostArtifact.Identifiers)</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-clone fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-5 mb-4">
        <div class="card shadow border-left-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col offset-xl-0 mr-2">
                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>OS Fingerprint</span></div>
                        <div class="text-dark text-monospace mb-0 small"><span>Unknown</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-cogs fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <VulnerabilityDisplay Vulnerabilities="@HostArtifact.Vulnerabilities" />
    </div>
</div>

<div class="row">
    <div class="col">
        <DataAttachmentDisplay Attachments="@Artifact.Evidence" />
    </div>
</div>

@if (HostArtifact.Children.Any())
{
    <CardGroup Class="pt-2">
        @foreach (var item in HostArtifact.Children)
        {
            <ServicePortArtifactSummary Artifact="@item" />
        }
    </CardGroup>
}


@code
{
    [Parameter]
    public AppTreeNode Artifact { get; set; }

    public HostNode HostArtifact => Artifact as HostNode;
}