@model List<SMACD.ScanEngine.ExtensionLibrary>
@{
    ViewData["Title"] = "Loaded Plugins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Loaded Plugins</h1>
<ul class="list-group">
    @foreach (var asm in Model)
    {
    <li class="list-group-item">
        <h3>@asm.Assembly.GetName().Name (v @asm.Assembly.GetName().Version)</h3>
        <h6>@asm.FileName</h6>
        <h6><strong>Provides: </strong>@string.Join(", ", asm.ProvidedTypes.Select(t => t.Name))</h6>

        @if (asm.ActionExtensions.Any())
        {
            <h5>Actions</h5>
            <div class="table-responsive shadow-sm" style="margin-bottom: 15px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Action Identifier</th>
                            <th>Invoked Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var action in asm.ActionExtensions)
                        {
                            <tr>
                                <td>@action.Key</td>
                                <td>@action.Value.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (asm.ReactionExtensions.Any())
        {
            <h5>Reactions</h5>
            <div class="table-responsive shadow-sm" style="margin-bottom: 15px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Reaction Trigger</th>
                            <th>Invoked Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var action in asm.ReactionExtensions)
                        {
                            <tr>
                                <td>@action.Key</td>
                                <td>@string.Join("<br />", action.Value.Select(v => v.Name))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </li>
    }
</ul>

